*{
    box-sizing: border-box;
}

body{
    max-width:800px;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, sans-serif;
    z-index: 1;
    position: relative;
    text-align: center;
}

#sfondoColor{
    background-color: rgb(112, 128, 144);
}

img{
    max-width: 100%;
}

.bordi{ /*stile comune per il bordo arrotondato uguale a piu' elementi*/
    border-radius: 0.25em;
}

.centro{/*contenuti al centro dello schermo*/
    margin: 0 auto;
}

/*---Stile Header---*/
header{
    background-color: rgb(22, 92, 97);
}

h1{
    padding:0 auto;
    color:rgb(251, 232, 178);
    font-size: 2.5em;
    text-shadow: 0 0 2px #000000; 
}
/*---*/

/*---Stile Main---*/
main {
    padding: 0 2%;
}

/*---Alert---*/
#sfondo {
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(30, 30, 30, 0.537);
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

#alert {
    width:40%;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    border: 2px solid rgb(22, 92, 97);
    background-color: rgba(22, 92, 97, 0.793);
    color: rgb(46, 45, 45);
    text-shadow: 0 0 2px #9d9c9c;
    font-weight: bold;
    position: absolute; 
    top: 18%;
    left: 30%;
    z-index:3;
    border: 2px solid  rgb(46, 45, 45);
}

#start {
    width:70%;
    margin: 2% auto;
    padding: 0 auto;
    border: 0.05em solid rgb(77, 77, 77);
    background-color: rgba(251, 231, 178, 0.521);
    color: rgba(22, 92, 97, 0.645);
    text-shadow: 0 0 2px #000000; 
    cursor:pointer;
    font-size: 1.65rem;
    font-weight: bold;
    overflow: auto;
}

#start:hover{
    background-color: rgb(251, 231, 178);
    color: rgb(22, 92, 97);
}
/*---*/


/* CSS immagine */
#immagine{
    max-width: 80%;
    padding: 0 auto;
    margin: 0 auto;
}
/*---*/

/*---Stile Bottoni---*/
.bottoni{
    width: 90%;
    margin: 2% auto;
    overflow: auto;
    display: block; 
}

#bottoneTesta{
    float:left;
    width:40%;
}

#bottoneCroce{
        float:right;
        width:40%;
}

/*stile comune ad entrambi*/
#bottoneTesta,#bottoneCroce{
    padding: 0 auto;
    border: 0.05em solid rgb(77, 77, 77);
    background-color: rgb(22, 92, 97);
    color: rgb(251, 232, 178);
    text-shadow: 0 0 2px #000000;
    cursor:pointer;
    font-size: 1.4em;
    font-weight: bold;
}
#bottoneCroce:hover, #bottoneTesta:hover {
    color: rgb(22, 92, 97);
    background-color: rgb(251, 232, 178);
    border: 0.05em solid rgb(77, 77, 77);
    text-shadow: 0 0 2px #9d9c9c;
    letter-spacing: 0.11em;
}
/*---*/

/*---Stile punteggio---*/
section:nth-of-type(2){
    width: 50%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

#punteggYou, #punteggCPU{ /*scritta you*/
    font-size:1.3em;
    padding: 1%;
    width:40%;
    background-color: rgb(163, 163, 163);
    border: rgb(112, 128, 144) solid 2px;
    border-radius: 40%;
    margin-top: 7%;
}

#punteggYou p, #punteggCPU p{ /*scritta You e scritta CPU*/
    color: rgb(77, 77, 77);
    margin: 1%;
    font-size:1.2em;
}

#puntiYou{ /*stile punteggio you*/
    color:rgb(31, 136, 144);
}

#puntiCpu{ /*stile punteggio Cpu*/
    color:rgb(247, 238, 213);
}
/*---*/

/*---Stile Risposta---*/
    #risposta {
    padding:1%;
    background-color: rgb(247, 238, 213);
    border-radius: 10px;
    color: rgb(31, 136, 144);
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
    text-shadow: 0 0 2px #9d9c9c;
}
/*---*/

/*---Stile bottone RIGIOCA---*/
#rigiocadiv {
    width: 70%;
    padding: 3%;
    display:none;
}

#rigioca{
    width:70%;
    margin: 5% auto;
    padding: 0 auto;
    border: 0.05em solid rgb(77, 77, 77);
    background-color: rgb(22, 92, 97);
    color: rgb(251, 232, 178);
    text-shadow: 0 0 2px #000000; 
    cursor:pointer;
    font-size: 1.7em;
    font-weight: bold;
}

#rigioca:hover {
    color: rgb(22, 92, 97);
    background-color: rgb(251, 232, 178);
    border: 0.05em solid rgb(77, 77, 77);
    text-shadow: 0 0 2px #9d9c9c;
    letter-spacing: 0.11em;
}
/*---*/

/*FOOTER*/
footer{
    margin: 0;
    background-color: rgb(22, 92, 97);
    font-size: 1em;
    line-height: 1.3;
    overflow: auto;
}

footer p {
    color:rgb(23, 23, 23);
    padding:2%;
}

footer p:last-child{
    font-size: 0.8em;
}

footer p a {
    text-decoration: none;
    color:rgb(251, 232, 178);
}

footer p a:hover {
    color:rgba(251, 231, 178, 0.615);
    padding-bottom:0;
    border-bottom: 1px dotted rgb(251, 232, 178);
}
/*---*/


/*---MEDIA QUERIES---*/
@media screen and (min-width:460px) {
    #immagine{
        width: 70%;
    }

    #start{
        width:50%;
    }

    #bottoneTesta, #bottoneCroce{
        width:35%;
        font-size: 1.7em;
    }
}

@media screen and (min-width:630px) {
        #immagine{
            width: 60%;
        } 

    body{
        font-size: 1.3rem;
    }
    #immagine{
        width: 70%;
    }

    #bottoneTesta, #bottoneCroce, #start{
        width:40%;
    }
}

@media screen and (min-width:765px) {
#bottoneTesta, #bottoneCroce{
    width:30%;
}
}
/*---*/